.container {
    padding-top: 60px;
    padding-bottom: 200px;
}

.titular {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Mobile */
.titular {
    width: 150px;
    float: right;
    box-sizing: border-box;
}
.logo {
    float: left;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .titular {
        width: 100%;
        box-sizing: border-box;
        float: none;
    }
    .logo {
        float: none;
        max-width: 100%;
    }
}
